
<%= form.error_messages %>

<p>
    <span><label>Title</label></span><br />
    <span><%= form.text_field 'title' %></span>
</p>

<p>
    <span><label>Body</label></span><br />
    <span><%= form.text_area 'body' %></span>
</p>
